<mat-card class="example-card">
    <mat-card-header>
      <img mat-card-avatar src="https://img.freepik.com/free-photo/thai-food-tom-yum-kung-river-prawn-spicy-soup_1150-35451.jpg?w=900&t=st=1722608457~exp=1722609057~hmac=8850c03b38d39908e89c5a149d7b48d55cc38cd517c19ffe635994d3a9933216" alt="">
      <mat-card-title>{{recipe.user.fullName}}</mat-card-title>
      <mat-card-subtitle>code_with_fit</mat-card-subtitle>
    </mat-card-header>
    <img class="max-h-[400px] object-cover" 
    mat-card-image 
    [src]="recipe.image" 
    alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        {{recipe.description}}
      </p>
    </mat-card-content>
    <mat-card-actions class="flex justify-between">
      <div>
        <button mat-icon-button aria-label="Example icon button with a home icon">
          <mat-icon>favorite</mat-icon>
        </button>
        <button (click)="handleOpenEditRecipeForm()" mat-icon-button aria-label="Example icon button with a home icon">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button aria-label="Example icon button with a home icon">
          <mat-icon>share</mat-icon>
        </button>
      </div>
      <div>
        <button (click)="handleDeleteRecipe()" mat-icon-button aria-label="Example icon button with a home icon">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </mat-card-actions>
</mat-card>
  